<ng-container *ngIf="currentCompteCourant">
  <div class="col-sm-4">
    <div class="well">
      <fieldset>
        <legend>Compte Courant</legend>
        <p>
          Numero : {{currentCompteCourant.numeroCompte}}
        </p>
        <p>
          Date d'ouverture : {{currentCompteCourant.dateOuverture}}
        </p>
        <p>
          Solde : {{currentCompteCourant.solde}}
        </p>
        <p>
          Découvert Autorisé : {{currentCompteCourant.decouvertAutorise}}
        </p>
        <div *ngIf="currentCompteCourant.carteBancaire">
          <p>
            Numéro de carte : {{currentCompteCourant.carteBancaire.numeroCarte}}
          </p>
          <p>
            Type de carte : {{currentCompteCourant.carteBancaire.typeCarte}}
          </p>
        </div>
        <div class="text-right"></div>
      </fieldset>
    </div>
  </div>
</ng-container>