<fieldset>
  <legend>Compte Courant</legend>
  <form novalidate *ngIf="compteCourantForm" [formGroup]="compteCourantForm" (ngSubmit)="saveCompteCourant()">
    <app-field label="Solde" [control]="compteCourantForm.get('solde')">
      <input formControlName="solde" type="text" class="form-control" placeholder="Solde">
    </app-field>

    <app-field label="Découvert Autorisé" [control]="compteCourantForm.get('decouvertAutorise')">
      <input formControlName="decouvertAutorise" type="text" class="form-control" placeholder="Découvert Autorisé">
    </app-field>

    <ng-container *ngIf="numeroCompte && currentCompteCourant.carteBancaire;else comptenonexistant ">
      <form novalidate *ngIf="carteBancaireForm" [formGroup]="carteBancaireForm">
        <p></p>
        <app-field label="Carte" [control]="carteBancaireForm.get('typeCarte')">
          <br>
          <input formControlName="typeCarte" type="radio" value="ELECTRON"> Carte Visa Electron
          <br>
          <input formControlName="typeCarte" type="radio" value="PREMIER"> Carte Visa Premier
        </app-field>

        <button class="btn btn-danger" (click)="removeCard2()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Carte </button>
        <br>
      </form>
    </ng-container>
    <ng-template #comptenonexistant>
      Carte bancaire :
      <ng-container *ngIf="!carteBancaire; else nocard">
        <button class="btn btn-info" (click)="addCard()">Ajoutez </button>
      </ng-container>
      <ng-template #nocard>
        <button class="btn btn-danger" (click)="removeCard()">Supprimer </button>
      </ng-template>
      <br>
      <ng-container *ngIf="carteBancaire">
        <form novalidate *ngIf="carteBancaireForm" [formGroup]="carteBancaireForm">
          <p></p>
          <app-field label="Carte" [control]="carteBancaireForm.get('typeCarte')">
            <br>
            <input formControlName="typeCarte" type="radio" value="ELECTRON" checked> Carte Visa Electron
            <br>
            <input formControlName="typeCarte" type="radio" value="PREMIER"> Carte Visa Premier
          </app-field>
        </form>
      </ng-container>
    </ng-template>
    <br>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Editer</button>
    <button class="btn btn-default" (click)="goBack()">Annuler</button>
  </form>
</fieldset>