<fieldset>
  <legend>Compte Courant</legend>
  <form novalidate *ngIf="compteCourantForm" [formGroup]="compteCourantForm" (ngSubmit)="saveCompteCourant()">
    <app-field label="Solde" [control]="compteCourantForm.get('solde')">
      <input formControlName="solde" type="text" class="form-control" placeholder="Solde">
    </app-field>

    <app-field label="Découvert Autorisé" [control]="compteCourantForm.get('decouvertAutorise')">
      <input formControlName="decouvertAutorise" type="text" class="form-control" placeholder="Découvert Autorisé">
    </app-field>

    <app-field label="Carte" [control]="compteCourantForm.get('carte')">
      <br>
      <input formControlName="carte" type="radio" value="AUCUNE" checked> Aucune
      <br>
      <input formControlName="carte" type="radio" value="ELECTRON"> Electron
      <br>
      <input formControlName="carte" type="radio" value="PREMIER"> Premier
    </app-field>

    <button type="submit" class="btn btn-primary">Créer</button>
    <a routerLink="../../../clients">Annuler</a>
  </form>

</fieldset>