<fieldset>
  <legend>Compte Courant</legend>
  <form novalidate *ngIf="compteCourantForm" [formGroup]="compteCourantForm" (ngSubmit)="saveCompteCourant()">
    <app-field label="Solde" [control]="compteCourantForm.get('solde')">
      <input formControlName="solde" type="text" class="form-control" placeholder="Solde">
    </app-field>

    <app-field label="Découvert Autorisé" [control]="compteCourantForm.get('decouvertAutorise')">
      <input formControlName="decouvertAutorise" type="text" class="form-control" placeholder="Découvert Autorisé">
    </app-field>

    <app-field label="Carte" [control]="compteCourantForm.get('carte')">
      <input formControlName="carte" type="checkbox">
    </app-field>

  </form>

  <button type="submit" class="btn btn-primary">Créer</button>

</fieldset>

<fieldset>
  <legend>Compte Epargne</legend>
  <button type="submit" class="btn btn-primary">Créer</button>
</fieldset>

<a routerLink="../clients">Fin de création du client</a>