<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logFile_cs_slm_alc.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			Daily rollover
			<fileNamePattern>logFile_cs_slm_alc.%d.log</fileNamePattern>
			Keep logs for 1 week
			<maxHistory>7</maxHistory>
			3GB max for logs
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35}
				- %msg%n</pattern>
		</encoder>
	</appender>

	<!-- On définit le package qui logge et le niveau de log (il écrase le niveau 
		par défaut) -->
	<!-- <logger name="net.lecigne.training1" level="DEBUG" /> -->
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF -->

	<!-- Logger "parent", on active ou non les différents appenders -->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>