<!-- <div class="col-sm-6"> -->

<div class="row">

  <div class="col-sm-6">
    <div class="well">
      <h2>Virements</h2>
      <p class="lead">Virement entre deux comptes.</p>
      <div class="text-right">
        <a routerLink="/virement" class="btn btn-info btn-lg">Accéder</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h2>Crédit de compte</h2>
      <p class="lead">Approvisionnement direct d'un compte.</p>
      <div class="text-right">
        <a routerLink = "/operations/crediter" class="btn btn-info btn-lg">Accéder</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h2>Simulation de crédit</h2>
      <p class="lead">Simulation d'un crédit à la consommation.</p>
      <div class="text-right">
        <a routerLink="/credit" class="btn btn-info btn-lg">Accéder</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h2>Audit</h2>
      <p class="lead">Audit de l'ensemble des clients de l'agence.</p>
      <div class="text-right">
        <a routerLink="/operations/audit" class="btn btn-info btn-lg">Accéder</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h2>Analyse de répartition</h2>
      <p class="lead">Répartition des capitaux clients par compte</p>
      <div class="text-right">
        <a routerLink="/operations/repartition" class="btn btn-info btn-lg">Accéder</a>
      </div>
    </div>
  </div>

</div>

<!-- </div> -->