<div class="row bg-white z-depth-2">
  <div class="small-2">

    <select (change)="selectClient($event.target.value)">
      <option *ngFor="let client of clients" [value]="client.id">{{client.id}} {{client.prenom}} {{client.nom}} {{client.email}}</option>
    </select>

  </div>
  <div class="small-2">

    <select (change)="selectAccount($event.target.value)" [disabled]="!currenctClient">
      <option *ngFor="let account of listeCompte" [value]="account.numeroCompte">{{account.numeroCompte}}</option>
    </select>

  </div>
</div>