<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
    Menu déroulant
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <a href="#" title="Lien 1">Lien 1</a>
    </li>
    <li>
      <a href="#" title="Lien 2">Lien 2</a>
    </li>
    <li>
      <a href="#" title="Lien 3">Lien 3</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#" title="Lien 4">Lien 4</a>
    </li>
  </ul>
</div>