<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" routerLink="/">
        <img width='30px' style="background-color: white" [src]="logoImage">
      </a>
    </div>
    <p *ngIf="!currentConseiller" class="navbar-text">Non identifié</p>

    <ng-container *ngIf="currentConseiller">
      <p class="navbar-text ">Profil :
        <a href="#" class="navbar-link">{{ currentConseiller.login }} </a>
      </p>

      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li *ngFor="let item of navItems">
            <a [routerLink]="item.path">
              <ng-container *ngIf="item.label=='Accueil'">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="item.label=='Gestion Client'">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="item.label=='Opérations'">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
              </ng-container>
              {{ item.label }}</a>
          </li>
        </ul>

        <button type="button" class="btn btn-outline-danger navbar-right" style="margin-top:10px" aria-label="Left Align">

          <ng-container *ngIf="currentConseiller;else deco">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            <a href="/login">Déconnexion</a>
          </ng-container>

          <ng-template #deco>
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            <a href="/login">Connexion</a>
          </ng-template>

        </button>
      </div>
    </ng-container>
    <!--/.nav-collapse  navbar-right-->

  </div>
</nav>