<ng-container *ngIf="currentCompteEpargne">
  <div class="col-sm-4">
    <div class="well">
      <fieldset>
        <legend>Compte Epargne</legend>
        <p>
          Numero : {{currentCompteEpargne.numeroCompte}}
        </p>
        <p>
          Date d'ouverture : {{currentCompteEpargne.dateOuverture}}
        </p>
        <p>
          Solde : {{currentCompteEpargne.solde}} €
        </p>
        <p>
          Taux de rémuneration : {{currentCompteEpargne.tauxRemun}} %
        </p>
        <div class="text-right">
        </div>
      </fieldset>
    </div>
  </div>
</ng-container>