<div class="col-sm-4">
    <div class="well">
      <h2>Données compte Epargne</h2>
      <p>
        Numero : {{currentCompteEpargne.numeroCompte}}
      </p>
      <p>
        Date d'ouverture : {{currentCompteEpargne.dateOuverture}}
      </p>
      <p>
        solde : {{currentCompteEpargne.solde}}
      </p>
      <p>
        Taux de rémuneration : {{currentCompteEpargne.tauxRemun}}
      </p>
      <div class="text-right">
        <a class="btn btn-info btn-lg">Bouton placeholder</a>
      </div>
    </div>
  </div>