<h1 class="text-center">Simulation de crédit à la consommation</h1>
<br>
<div class="col-md-4 col-md-offset-4">

  <form novalidate [formGroup]="creditForm" (ngSubmit)="simulerCredit()">

    <app-field label="Montant" [control]="creditForm.get('montant')">
      <input formControlName="montant" type="text" class="form-control" placeholder="Montant (€)">
    </app-field>

    <app-field label="Duree" [control]="creditForm.get('duree')">
      <input formControlName="duree" type="text" class="form-control" placeholder="Durée (mois)">
    </app-field>

    <app-field label="Taux" [control]="creditForm.get('taux')">
      <input formControlName="taux" type="text" class="form-control" placeholder="Taux (%)">
    </app-field>

    <button type="submit" [disabled]="creditForm.invalid" class="btn btn-primary">Simuler</button>
    <button class="btn btn-default" (click)="goBack()">Retour</button>

  </form>
  <br>

</div>

<div class="col-md-4 col-md-offset-4 text-center ">
  <h3>
    <p>Votre mensualité : {{ mensualite | number : '1.2-2'}} €</p>
  </h3>
</div>