<div class="col-sm-4">
  <div class="well">
    <fieldset>
      <legend>Données personnelles</legend>
      <div class="text-left">
        <p>
          Nom : {{currentClient.nom}}
        </p>
        <p>
          Prenom : {{currentClient.prenom}}
        </p>
        <p>
          Email : {{currentClient.email}}
        </p>
        <p>
          Adresse : {{currentClient.adresse}}
        </p>
        <p>
          Ville : {{currentClient.Ville}}
        </p>
        <p>
          Code Postal : {{currentClient.CodePostal}}
        </p>
        <p>
          Téléphone : {{currentClient.telephone}}
        </p>
        <!-- <a class="btn btn-info btn-lg">boutons placeholder</a> -->
      </div>
    </fieldset>
  </div>
</div>