<div class="col-sm-4">
  <div class="well">
    <h2>Données Personnelles</h2>
    <div class="text-right">
      <p>
        Nom : {{currentClient.nom}}
      </p>
      <p>
        Prenom : {{currentClient.prenom}}
      </p>
      <p>
        email : {{currentClient.email}}
      </p>
      <p>
        Adresse : {{currentClient.adresse}}
      </p>
      <p>
        Ville : {{currentClient.Ville}}
      </p>
      <p>
        CodePostal : {{currentClient.CodePostal}}
      </p>
      <p>
        Téléphone : {{currentClient.telephone}}
      </p>
      <a class="btn btn-info btn-lg">boutons placeholder</a>
    </div>
  </div>
</div>