<form novalidate *ngIf="clientForm" [formGroup]="clientForm" (ngSubmit)="saveClient()">

  <app-field label="Nom*" [control]="clientForm.get('nom')">
    <input formControlName="nom" type="text" class="form-control" placeholder="Nom">
  </app-field>

  <app-field label="Prénom*" [control]="clientForm.get('prenom')">
    <input formControlName="prenom" type="text" class="form-control" placeholder="Prénom">
  </app-field>

  <app-field label="Email*" [control]="clientForm.get('email')">
    <input formControlName="email" type="text" class="form-control" placeholder="Email">
  </app-field>

  <app-field label="Adresse" [control]="clientForm.get('adresse')">
    <input formControlName="adresse" type="text" class="form-control" placeholder="Adresse">
  </app-field>

  <app-field label="Code Postal" [control]="clientForm.get('codePostal')">
    <input formControlName="codePostal" type="text" class="form-control" placeholder="Code Postal">
  </app-field>

  <app-field label="Ville" [control]="clientForm.get('ville')">
    <input formControlName="ville" type="text" class="form-control" placeholder="Ville">
  </app-field>

  <app-field label="Téléphone" [control]="clientForm.get('telephone')">
    <input formControlName="telephone" type="text" class="form-control" placeholder="Téléphone">
  </app-field>
  <ng-container *ngIf="idClient;else creation">
    <button type="submit" class="btn btn-primary">Modifier</button>
  </ng-container>
  <ng-template #creation>
    <button type="submit" class="btn btn-primary">Créer</button>
  </ng-template>
  <a routerLink="/clients">Annuler</a>

</form>
<!-- <p></p>
<div>
  <form novalidate [formGroup]="conseillerForm">
    <app-field label="ID Conseiller" [control]="conseillerForm.get('idConseiller')">
      <input formControlName="idConseiller" type="text" class="form-control" placeholder="ID Conseiller">
    </app-field>
  </form>
</div> -->