<form [formGroup]="clientForm" novalidate>

  <app-field
    label="nom"
    [control]="clientForm.get('nom')">
    <input formControlName="nom" type="text" class="form-control" placeholder="Nom">
  </app-field>

  <app-field
    label="prenom"
    [control]="clientForm.get('prenom')">
    <textarea formControlName="prenom" class="form-control" placeholder="nom" rows="3"></textarea>
  </app-field>


  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <a routerLink="..">Annuler</a>

</form>

