<div class="text-center">
  <h1>Bienvenue
    <ng-container *ngIf="currentConseiller">{{currentConseiller.prenom}}</ng-container>
    , nous sommes le {{jour}}/{{mois}}/{{an}} !
  </h1>
  <br>


  <div style="margin: 2em" class="container">
  
      <carousel>
        <ng-container *ngFor="let item of items;">
          <ng-container *carouselItem>
            <!-- <div class="item">{{item.title}}</div> -->
            <img src="{{item.image}}">
          </ng-container>
        </ng-container>
      </carousel>

    <!--<div style="margin-top: 1em;"> 
      <a (click)="carousel.next()" class="btn btn-success">Next</a>
      <a (click)="carousel.prev()" class="btn btn-success">Prev</a>
    </div>-->

    <!--<button (click)="addSlide()">Add Slide</button>-->

  </div>

</div>