<div *ngIf="isLoading; else showUI">
  <app-loading></app-loading>
</div>

<ng-template #showUI>
  <ng-template #noClientFound>
    <h2>Vous n'avez pas de client...</h2>
  </ng-template>

  <div class="row" *ngIf="listeClients.length !== 0; else noClientFound">

    <h1 class="text-center">Vous avez {{listeClients.length}} clients !</h1>

    <ng-container *ngIf="listeClients.length<10">
      <p>
        <a [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client','nouveauclient']" class="btn btn-default">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau Client
        </a>
      </p>
    </ng-container>

    <br>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-center">Nom</th>
          <th class="text-center">Prenom</th>
          <th class="text-center">Email</th>
          <th class="text-center">Actions</th>

          <th class="text-center">Compte Courant</th>
          <th class="text-center">Découvert</th>
          <th class="text-center"></th>
          <th class="text-center">Compte Epargne</th>

          <th class="text-center">Situation</th>
          <th class="text-center"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of listeClients">
          <td>{{ client.nom }}</td>
          <td>{{ client.prenom }}</td>
          <td>{{ client.email }}</td>

          <td>
            <a class="btn btn-default btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client', client.idClient]">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
            </a>
            <a class="btn btn-default btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client', client.idClient,'editionclient']">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editer
            </a>
            <button class="btn btn-danger btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'clients']" (click)="deleteClient(client.idClient)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>

          <ng-container *ngIf="client.compteCourant;else ajoutcc">
            <td>{{ client.compteCourant.solde }} €
              <ng-container *ngIf="client.compteCourant.carteBancaire">
                <span class="glyphicon glyphicon-credit-card" aria-idden="true"></span>
              </ng-container>

            </td>
            <td>
              <ng-container *ngIf="client.compteCourant.solde>0">
                <span class="glyphicon glyphicon-ok" style="color: rgb(34, 204, 0);" aria-idden="true"></span>
              </ng-container>

              <ng-container *ngIf="client.compteCourant.solde==0">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="client.compteCourant.solde<(-client.compteCourant.decouvertAutorise)">
                <span class="glyphicon glyphicon-remove" style="color: #c00;" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="client.compteCourant.solde>(-client.compteCourant.decouvertAutorise) && client.compteCourant.solde<0">
                <span class="glyphicon glyphicon-ok" style="color: rgb(204, 122, 0);" aria-hidden="true"></span>
              </ng-container>
            </td>

            <td>
              <a class="btn btn-default btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client', client.idClient,'editioncomptecourant']">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              </a>
              <a class="btn btn-warning btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'clients']" (click)="deleteCompteCourant(client.idClient)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </td>
          </ng-container>
          <ng-template #ajoutcc>
            <td>
              <a class="btn btn-primary btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client', client.idClient,'nouveaucomptecourant']">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </td>
            <td> </td>
            <td> </td>
          </ng-template>

          <ng-container *ngIf="client.compteEpargne;else ajoutce">
            <td> {{ client.compteEpargne.solde }} € </td>
            <td>
              <ng-container *ngIf="client.compteEpargne.solde<5000 && client.compteEpargne.solde>=0">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="client.compteEpargne.solde>5000 && client.compteEpargne.solde<15000">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="client.compteEpargne.solde>=15000 && client.compteEpargne.solde<40000">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              </ng-container>

              <ng-container *ngIf="client.compteEpargne.solde>=40000">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              </ng-container>
            </td>
            <td>
              <a class="btn btn-default btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client', client.idClient,'editioncompteepargne']">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              </a>
              <a class="btn btn-warning btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'clients']" (click)="deleteCompteEpargne(client.idClient)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </td>

          </ng-container>
          <ng-template #ajoutce>
            <td>
              <a class="btn btn-primary btn-sm" [routerLink]="['../../../conseiller',currentConseiller.idConseiller,'client', client.idClient,'nouveaucompteepargne']">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </td>
            <td> </td>
            <td> </td>
          </ng-template>

        </tr>
      </tbody>
    </table>

  </div>