<fieldset>
  <legend>Compte Epargne</legend>
  <form novalidate *ngIf="compteEpargneForm" [formGroup]="compteEpargneForm" (ngSubmit)="saveCompteEpargne()">
    <app-field label="Solde" [control]="compteEpargneForm.get('solde')">
      <input formControlName="solde" type="text" class="form-control" placeholder="Solde">
    </app-field>

    <app-field label="Taux de rémunération" [control]="compteEpargneForm.get('tauxRemun')">
      <input formControlName="tauxRemun" type="text" class="form-control" placeholder="Taux de rémunération">
    </app-field>

    <ng-container *ngIf="currentCompteEpargne;else creation">
      <button type="submit" class="btn btn-primary" [disabled]="!validation()">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Editer</button>
      <a routerLink="../../../clients">Annuler</a>
    </ng-container>
    <ng-template #creation>
      <button type="submit" class="btn btn-primary" [disabled]="!validation()">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Editer</button>
      <a routerLink="../../../../../clients">Annuler</a>
    </ng-template>

  </form>
</fieldset>